
/* Fuentes de texto */
@font-face {
    font-family: Quicksand;
    src: url(Fuentes/Quicksand-Light.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: Quicksand;
    font-weight: 400;
    src: url(Fuentes/Quicksand-Medium.ttf) format(truetype);
}

@font-face {
    font-family: Quicksand;
    src: url(Fuentes/Quicksand-SemiBold.ttf) format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: Quicksand;
    src: url(Fuentes/Quicksand-Bold.ttf) format(truetype);
    font-weight: 900;
}

@font-face {
    font-family: Lora;
    src: url(Fuentes/Lora-MediumItalic.ttf) format(truetype);
    font-weight: 900;
}

/* Navbar */

.navbar > .container-fluid {
    color: #222222;
    background-color: rgb(227, 241, 246);
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.navbar-nav .dropdown-menu {
    z-index: 1100;
}

.navbar {
    position: static;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
}

.navbar.fixed {
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    color: rgb(20, 20, 20);
    border-style: solid;
    border-bottom-width: 1px;
}

.nav-link:hover, .nav-link:focus {
    color: rgb(0, 112, 190);
    border-style: solid;
    border-bottom-width: 1px;
}

.dropdown-toggle:focus{
    color: rgb(0, 112, 190) !important; 
    border-style: solid;
    border-bottom-width: 1px;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-toggler {
    background-color: #222222;
}

.perfil, .perfil:hover, .perfil:focus {
    border-style: none;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.dropdown-item a {
    color: #222222;
    text-decoration: none;
    display: block;
    width: 100%;
}

.asdepab-logo {
    width: 250px;
}

.pascual-logo {
    width: 250px;
}

.logo1 {
    text-align: center;
}

.dropdown-item:hover {
    background-color: rgba(227, 241, 246, 0.6);
}

.p-mobile {
    width: min-content;
}

.a-mobile {
    width: min-content;
}

.profile-mobile .dropdown-menu,
.profile-desktop .dropdown-menu {
    position: absolute;
    z-index: 1100; /* Higher z-index to ensure it's above other content */
    top: 100%;
    right: 0;
    left: auto;
    margin-top: 0.125rem;
}

.profile {
    position: relative;
}

/* Fin Navbar */

main {
    width: 100%;
}

body{
    font-family: Quicksand;
    background-color: #f0f0f0;
    color:#222222;
}

h1{
    font-weight: 900;
}

.fw-normal{
    color: #222222;
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
}

.fw_junior .featurett{
    font-weight: 700;
    letter-spacing: 100px;
}

.fw-junior{
    color: #222222;
    margin-bottom: 12px;
}

.lead .fw-description{
    font-weight: 400;
}

.fw-description{
    color: #222222;
    font-size: 18px;
}

.fw-welcome{
    color: #222222;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 2.5rem;
}

.img-presidente{
    margin-bottom: 6px;
    border-radius: 100%;
    box-shadow: 0px 0px 30px #b0b0b0;
    height: 330px;
}

.container-Novedades{
    text-align: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
    margin-top: 30px;
}

.custom-bg-ITIPB {
    background-color: rgb(200, 230, 250);
}

.custom-bg-historyPB {
    background-color: rgb(235, 105, 100); 
}

.custom-historyPB {
    color: #222222;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.custom-historyPB-description {
    color: #222222;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.custom-descriptionB {
    color: #222222;
    font-weight: 700;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.custom-descriptionPB-description {
    color: #222222;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.btnITIPB {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid #007bff;
    background-color: #007bff; 
    color: #fff; 
    margin-bottom: 2.5rem;
}

.btnITIPB:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
    color: #fff;
}

.text-center .btnITIPB {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
}

.carousel-item {
    height: 80vh;
}

.derechos-autor {
    color: #505050;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.row a {
    text-decoration: none;
    padding-bottom: 20px;
    transition: color 0.3s;
    transform: 0.3s;
}

.facebook{
    color: #1877F2;
}

.twitter{
    color: #111111;
}

.maps{
    color: #F44336; 
}

.instagram{
    color: #E4405F;;
}

.gmail {
    color: #444444;
}

.facebook:hover {
    color:  #A0C8F5;
}

.twitter:hover {
    color: #666666;
}

.instagram:hover {
    color: #F2A9D5
}

.maps:hover{
    color: #FFB3B3
}

.gmail:hover {
    color: #B3B3B3; /* Naranja para el ícono de correo */
}


.container-redes-sociales, .container-ubicacion, .container-email{
    flex: 1;
    max-width: 45%;
    margin-bottom: 10px;
    color: #505050;
}

.title-redes, .title-ubicacion, .title-email{
    font-weight: 700;
    margin-bottom: -10px;
}

.text-direction {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.text-direction svg {
    vertical-align: top;
}

.text-email {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.text-email svg {
    vertical-align: top;
}

.container-redes-sociales, .container-ubicacion, .container-email {
    flex: 1;
    max-width: 45%;
    margin-bottom: 10px;
}

.title-redes, .title-ubicacion, .title-email {
    font-weight: 700;
    margin-bottom: -10px;
}

.text-direction, .text-email {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.text-direction svg, .text-email svg {
    vertical-align: top;
} 

footer.container {
    text-align: left;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

footer .container-redes-sociales, 
footer .container-ubicacion, 
footer .container-email {
    text-align: left;
    flex: 1 1 30%;
    min-width: 250px;
    box-sizing: border-box;
}


.map-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.map-container iframe {
    border-radius: 8px;
    border: 2px solid #dee2e6;
    font-weight: 700;
    width: 100%;
    height: 400px;
}

.map-title {
    text-align: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
    margin-top: 10px;
}

.video-nuestra-institucion {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.frase-pascualinos {
    font-family: Lora;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 2px;
    color: #626a70;
    font-style: italic;
}

/* Navbar */
.navbar {
    background-color: rgb(227, 241, 246);
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-brand,
.navbar-nav .nav-link {
    font-family: Quicksand;
    font-size: 18px;
    color: #333333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    background-color: #333333;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .title-mision-vision {
        font-size: 30px;
    }

    .subtitle-mision-vision {
        font-size: 24px;
    }

    .description-mision, .description-vision {
        font-size: 16px;
    }

    .container-mision-vision {
        padding: 20px;
        margin: 20px;
    }
    .video-nuestra-institucion {
        height: 250px; /* Ajusta la altura para pantallas pequeñas */
        object-fit: cover; /* Mantiene la proporción del video */
    }
}

@media (max-width: 480px) {
    .title-mision-vision {
        font-size: 26px;
    }

    .video-nuestra-institucion {
        height: 200px; /* Ajuste aún mayor para pantallas muy pequeñas */
    }

    .subtitle-mision-vision {
        font-size: 20px;
    }

    .description-mision, .description-vision {
        font-size: 14px;
    }
}

/* @Medias */
@media (max-width: 1025px) {
    body {
        background-color: #f0f0f0; 
    }
    .p-mobile {
        width: 15%;
    }

    .a-mobile {
        width: 25%;
    }

    .logo1, .logo2 {
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 10px;
    }

    .navbar {
        position: fixed;
    }

    .navbar > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-toggler {
        order: 2;
        margin-left: 10px;
    }

    .profile-mobile {
        order: 3;
        margin-left: 10px;
        display: flex;
    }

    .navbar-collapse {
        order: 4;
        width: 100%;
        position: relative;
        z-index: 1040;
    }

    .profile-mobile .dropdown-menu {
        position: absolute;
        z-index: 1050;
        top: 100%;
        right: 0;
        left: auto;
        margin-top: 0.125rem;
        min-width: 200px;
        height: auto;
    }

    .navbar-nav .dropdown-menu {
        z-index: 1045;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #505050;
    }

    .container-redes-sociales, .container-ubicacion {
        width: 100%;
        margin-bottom: 20px;
    }

    .custom-bg-historyPB {
        margin-top: 1.5rem;
    }
    .subtitle-nuestra-institucion {
        font-size: 24px;
    }
    
    .video-nuestra-institucion {
        max-height: 350px;
    }
    
    .pause-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: rgba(0, 0, 0, 0.8);
        display: none;
        pointer-events: none;
    }
    .pause-icon.active {
        display: block;
    }

    .frase-pascualinos {
        font-size: 16px;
    }
}

@media (min-width: 821px) {
    .a-mobile, .p-mobile {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .map-container {
        margin: 10px;
        padding: 5px;
    }
    .map-container iframe {
        height: 250px;
    }
}
