/* Navbar and Container Styles */
.navbar > .container-fluid {
    background-color: rgb(227, 241, 246);
    justify-content: space-around;
    text-align: center;
    width: 150%;
}

.navbar{
    position: static;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
}

.navbar.fixed{
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: black;
    font-size: 40px;
}

.asdepab-logo {
    width: 250px;
}

.pascual-logo {
    width: 250px;
}

.profile-img {
    width: 100%;
}

.logo1 {
    text-align: center;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-link {
    color: black;
    border-style: solid;
    border-bottom-width: 1px;
}

.nav-link:hover, .nav-link:focus {
    color: black;
    border-style: solid;
    border-bottom-width: 1px;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-toggler {
    background-color: black;
}

.perfil, .perfil:hover, .perfil:focus {
    border-style: none;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown-menu {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.dropdown-item a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-item:hover {
    background-color: rgba(227, 241, 246, 0.5);
}

/* Responsive Adjustments */
@media (max-width: 575.98px) {

    .logo1, .logo2 {
        display: inline-block;
        width: auto;
        margin: 0 10px;
    }

    .asdepab-logo {
        width: 35%;
        max-width: 100px;
    }

    .pascual-logo {
        width: 60%;
        max-width: 500px;
    }

    .navbar {
        position: fixed;
    }

    .navbar > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        order: 1;
        margin-right: auto;
        margin-left: auto;
    }

    .navbar-toggler {
        order: 2;
        margin-left: 10px;
    }

    .profile-mobile {
        order: 3;
        margin-left: 10px;
        display: flex;
    }

    .navbar-collapse {
        order: 4;
        width: 100%;
        position: relative;
        z-index: 1040;
    }

    .profile-mobile .dropdown-menu {
        position:absolute;
        z-index: 1050;
        top: 100%;
        right: 0;
        left: auto;
        margin-top: 0.125rem;
        min-width: 200px;
        height: auto;
    }

    .navbar-nav .dropdown-menu {
        z-index: 1045;
    }
}
